*{
    margin-top: 0px;
    margin-left: 0px;
    cursor: default;
}

#puzzles{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-bill{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board5x5{
    width: 500px;
    height: 500px;
    background: green;
    border: 5px solid black;
    margin: auto auto;
    visibility: hidden;
}

#board3x3{
    width: 300px;
    height: 300px;
    background: green;
    border: 5px solid black;
    margin: auto auto;
    margin-top: -400px;
    visibility: hidden;
}

.tile{
    width: 100px;
    height: 100px;
    background: blue;
    box-shadow: inset 0px 0px 20px 0px rgb(20, 2, 119);
    position: absolute;
    text-align: center;
    font-size: 85px;
}

.space{
    width: 100px;
    height: 100px;
    background: black;
    position: absolute;
}

::selection {
    color: none;
    background: none;
}
