*{
    margin-top: 0px;
    margin-left: 0px;
    cursor: default;
}

#puzzles{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-bill{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board5x5{
    width: 500px;
    height: 500px;
    background: green;
    border: 5px solid black;
    margin: auto auto;
    visibility: hidden;
}

#board3x3{
    width: 300px;
    height: 300px;
    background: green;
    border: 5px solid black;
    margin: auto auto;
    margin-top: -400px;
    visibility: hidden;
}

.tile{
    width: 100px;
    height: 100px;
    /* background: rgb(12, 136, 194); */
    background: rgb(66, 76, 101);
    /* box-shadow: inset 0px 0px 20px 0px rgb(40, 90, 165); */
    box-shadow: inset 0px 0px 20px 0px rgb(42, 51, 72);
    position: absolute;
    text-align: center;
    font-size: 85px;
}

.space{
    width: 100px;
    height: 100px;
    /* background: black; */
    background: rgb(26, 37, 64);
    position: absolute;
}

::selection {
    color: none;
    background: none;
}

#img-1{
    width: 300px;
    height: 300px;
    
    clip-path: inset(0 66.66% 66.66% 0);
}

#img-2{
    width: 300px;
    height: 300px;
    margin-left: -100px;
    clip-path: inset(0 33.33% 66.66% 33.33%);
}

#img-3{
    width: 300px;
    height: 300px;
    margin-left: -200px;
    clip-path: inset(0 0 66.66% 66.66%);
    
}

#img-4{
    width: 300px;
    height: 300px;
    margin-top: -100px;
    clip-path: inset(33.33% 66.66% 33.33% 0);
}

#img-5{
    width: 300px;
    height: 300px;
    margin-top: -100px;
    margin-left: -100px;
    clip-path: inset(33.33% 33.33% 33.33% 33.33%);
}

#img-6{
    width: 300px;
    height: 300px;
    margin-top: -100px;
    margin-left: -200px;
    clip-path: inset(33.33% 0 33.33% 66.66%);
}

#img-7{
    width: 300px;
    height: 300px;
    margin-top: -200px;
    clip-path: inset(66.66% 66.66% 0 0);
}

#img-8{
    width: 300px;
    height: 300px;
    margin-top: -200px;
    margin-left: -100px;
    clip-path: inset(66.66% 33.33% 0 33.33%);
}
